<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Request Form - HRMS template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/fontawesome/css/all.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/material.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/line-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!-- Custom JS -->
    <script src="~/Content/assets/js/app.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/Partial.js"></script>

</head>
<body>
    
                <center><h1 style="margin-top: 50px">Request For Vehicle</h1></center>
                <div class="social" style="margin-top: 50px;">
                 
                        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" style="margin-left: 10px; margin-right: 10px;" >
                            <div class="profile-widget" >
                                <div class="profile-img">
                                    <a href="#"  class="avatar"><img src="https://static.vecteezy.com/system/resources/previews/002/233/708/large_2x/travel-by-car-concept-with-map-vector.jpg" alt=""></a>
                                </div>
                                <div class="dropdown profile-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                                <h4 class="user-name m-t-10 mb-0 text-ellipsis" ><a href="#" >Car</a></h4>
                                <div class="small text-muted"><a href="#" id="CarRequest">Request For Travel</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" style="margin-left: 10px; margin-right: 10px;">
                            <div class="profile-widget">
                                <div class="profile-img">
                                    <a href="#"  class="avatar"><img src="https://th.bing.com/th/id/OIP.Vq2GRw4XsgfHVuRqLmIQWwHaEc?rs=1&pid=ImgDetMain" alt=""></a>
                                </div>
                                <div class="dropdown profile-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                                <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="profile.html">Truck</a></h4>
                                <div class="small text-muted"><a href="#" id="TruckReq">Request For Garbage Truck</a></div>
                            </div>
                        </div>
                        </div>
      
</body>
</html>